@import "@penpot/plugin-styles/styles.css";

:root {
  --orphaned-counter-block-size: 2rlh;
  --orphaned-actions-block-size: 60px;
}

[data-theme="dark"] {
  /* Accent */
  --primary: var(--da-primary);
  --primary-muted: var(--da-primary-muted);
  --secondary: var(--da-secondary);
  --tertiary: var(--da-tertiary);
  --quaternary: var(--da-quaternary);

  /* Background */
  --b-primary: var(--db-primary);
  --b-secondary: var(--db-secondary);
  --b-tertiary: var(--db-tertiary);
  --b-quaternary: var(--db-quaternary);

  /* Foreground */
  --f-primary: var(--df-primary);
  --f-secondary: var(--df-secondary);
}

[data-theme="light"] {
  /* Accent */
  --primary: var(--la-primary);
  --primary-muted: var(--la-primary-muted);
  --secondary: var(--la-secondary);
  --tertiary: var(--la-tertiary);
  --quaternary: var(--la-quaternary);

  /* Background */
  --b-primary: var(--lb-primary);
  --b-secondary: var(--lb-secondary);
  --b-tertiary: var(--lb-tertiary);
  --b-quaternary: var(--lb-quaternary);

  /* Foreground */
  --f-primary: var(--lf-primary);
  --f-secondary: var(--lf-secondary);
}

body {
  block-size: 100vh;
}

svg {
  inline-size: 1rem;
  block-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.plugin-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plugin-welcome {
  flex: 1;
}

.plugin-welcome-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  padding: 12px;
  text-align: center;
}

.plugin-welcome-hero {
  position: relative;
  animation: draw 1.5s ease-out;
  color: var(--secondary);

  & svg {
    inline-size: 5rem;
    block-size: 5rem;
    margin-block-end: var(--spacing-16);
  }
}

@keyframes draw {
  from {
    bottom: var(--spacing-16);
    color: var(--primary-muted);
  }
  to {
    bottom: 0;
    color: var(--secondary);
  }
}

.plugin-main {
  flex: 1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
}

.plugin-content-wrapper {
  block-size: 100%;
  max-block-size: calc(
    100% - var(--orphaned-actions-block-size) -
      var(--orphaned-counter-block-size)
  );
}
.orphaned-counter {
  block-size: var(--orphaned-counter-block-size);
  margin-block: var(--spacing-8);
  margin-block-end: var(--spacing-12);
}

.orphaned-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  & > li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-8);
    min-block-size: 2.5rem;
    border-radius: 0.5rem;
    padding-inline: var(--spacing-12);
    background-color: var(--b-quaternary);
  }
}

.component-name {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navigate-component {
  background: none;
  margin: 0;
  padding: var(--spacing-4);
  cursor: pointer;
  display: block;
  color: var(--f-primary);

  &:hover {
    color: var(--primary);
  }
}

.plugin-actions {
  flex: 0;
  block-size: var(--orphaned-actions-block-size);
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.empty-orphaned-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.empty-orphaned {
  position: relative;
  bottom: 4rlh;
  text-align: center;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & svg {
    color: var(--primary);
    inline-size: 3rem;
    block-size: 3rem;
    margin-block-end: var(--spacing-8);
  }
}
