@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  block-size: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

.orphaned-list-wrapper {
  flex: 1;
}

.orphaned-counter {
  margin-block: var(--spacing-8);
}

.orphaned-list > li {
  display: flex;
  justify-content: center;
  gap: var(--spacing-4);
}

.component-name {
  flex: 1;
}

.plugin-actions {
  display: flex;
  justify-content: flex-end;
}
